* {
    margin: 0;
    padding: 0;
    border: 0px;
}

body.light {
    background-color: white;
    color: black;
}

body.dark {
    background-color: #222831;
    color: white;
}

.main-container {
    min-width: 500px;
    max-width: 600px;
    width: 95%;
    margin: 0 auto;
    padding: 5px;
}

.header {
    margin-top: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.user-options {
    margin: 5px 10px;
    height: 50px;
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

.user-options.light {
    border: 1px solid #948979;
}

.user-options.dark {
    border: 1px solid #222831;
}

.currency-container {
    width: 280px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.currency-container.light {
    background-color: #DFD0B8;
}

.currency-container.dark {
    background-color: #393E46;
}

#currency-dropdown {
    width: 70px;
    height: 25px;
    border-radius: 5px;
    padding-left: 15px;
}

#apply-btn {
    width: 60px;
    border-radius: 5px;
    height: 25px;
}

.table-container {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#table {
    padding: 0 5px;
    border-radius: 5px;
}

#table.light {
    background-color: #F2F2F2;
}

.row {
    display: flex;
    flex-direction: row;
}

.table-data {
    height: 40px;
    min-width: 150px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin: 1px 2px;
}

.table-data.favorite.dark {
    background-color: #563A9C;
}

.table-data.favorite.light {
    background-color: yellow;
    color: black;
}

.currency-element {
    width: 45px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rate-element {
    width: 100px;
    height: 25px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

#theme-toggle {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 0;
    background-color: pink;
}

