* {
    margin: 0;
    padding: 0;
    border: 0px;
}

.main-container {
    min-width: 300px;
    max-width: 600px;
    width: 95%;
    margin: 0 auto;
    padding: 5px;
}

.header {
    margin-top: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.user-options {
    margin: 10px;
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#currency-dropdown {
    width: 70px;
    height: 25px;
    border-radius: 5px;
    padding-left: 15px;
}

#fetch {
    margin: 10px;
    width: 60px;
    border-radius: 5px;
    height: 25px;
}

.table-container {
    width: 99%;
    margin: 5px auto;
}

#table {
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
}

.table-data {
    width: 33%;
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px transparent black;
    border-radius: 5px;
    margin: 1px
}

.currency-element {
    width: 45px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rate-element {
    width: 100px;
    height: 25px;
    background-color: white;
    border: 1px solid #222831;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.light {
    background-color: white;
}

.dark {
    background-color: #222831;
    color: white;
}

#mode-selector {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 0;
    background-color: pink;
}