* {
    margin: 0;
    padding: 0;
}

.main-container {
    min-width: 300px;
    max-width: 600px;
    width: 95%;
    margin: 0 auto;
    padding: 5px;
    
    background-color: red;
}

.table-container {
    width: 99%;
    margin: 5px auto;
    background-color: green;
}

#table {
    border: 1px solid black;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
}

.table-data {
    width: 33%;
    display: flex;
    justify-content: flex-start;

    border: 1px solid grey;
    background-color: yellow;
}

.currency-element {
    margin-left: 15px;
    margin-right: 25px;
}

.rate-element {
    background-color: white;
    border-radius: 5px;
    width: 80%;
    margin: 0 5px 0 0;
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
    overflow: hidden
}